[submodule "vendor/bootstrapping"]
	path = vendor/bootstrapping
	url = https://github.com/pablomaahs/bootstrapping
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/pablomaahs/glfw
